<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Disaster News</h1>
        <div class="accordion" id="newsAccordion">
            {% for source, articles in all_news.items() %}
                <div class="card">
                    <div class="card-header" id="heading{{ loop.index }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                {{ source }}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#newsAccordion">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for article in articles %}
                                    <li class="list-group-item">
                                        <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                                        <p>Sentiment Polarity: {{ article.sentiment_polarity }}, Subjectivity: {{ article.sentiment_subjectivity }}</p>
                                        <p>Severity: {{ article.severity }}</p>  <!-- Display severity -->
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
